@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Waldenburg';
        src: url('fonts/Waldenburg-Buch.eot');
        src: local('☺'), url('fonts/Waldenburg-Buch.woff') format('woff'), url('fonts/Waldenburg-Buch.ttf') format('truetype'), url('fonts/Waldenburg-Buch.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Waldenburg';
        src: url('fonts/Waldenburg-Halbfett.eot');
        src: local('☺'), url('fonts/Waldenburg-Halbfett.woff') format('woff'), url('fonts/Waldenburg-Halbfett.ttf') format('truetype'), url('fonts/Waldenburg-Halbfett.svg') format('svg');
        font-weight: bold;
        font-style: normal;
    }
}
